:root {
    --greenish: #C1C497;
    --light-pink: #EDAFB8;
    --champagne-pink: #F7E1D7;
    --active-pink: #f1bfa8;
    --operator-pink: #f3cebd;
    --rosy-brown: #C39198;
    --pale-pink: #F6D7DC;
    --tuscan-red: #75494C;
    --pine-tree: #5e5f3b;
    --dark-sienna: #420101;
    --lighter-sienna: #5a0f0f;
}

body {
    font-family: 'Comfortaa', sans-serif;
    color: var(--tuscan-red);
}

.wrapper, .container {
    display: flex;
}
.wrapper {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--pale-pink);
}

header {
    text-align: center;
}
footer {
    background-color: rgba(0,0,0,.05);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

a, a:active {
    color:var(--dark-sienna);
    text-decoration: none;
    position: relative;
}
a::after {
   content: '';
   position: absolute;
   bottom: -2px;
   opacity: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: var(--dark-sienna);
   transition: ease-in-out .2s;
}
a:hover::after {
    content: '';
    bottom: 0;
    opacity: 1;
}


.container {
    flex:auto;
    justify-content: center;
}

.calculator-body {
    width: 180px;
    padding:10px;
    align-self: start;
    margin:30px;
    border-radius: 5px;
    background-color: var(--light-pink);
    box-shadow: 5px 5px #C39198;
    transform: rotateZ(2deg);
}

.screen-container {
    display: flex;
    justify-content: end;
    text-align: right;
    height: 25px;
    padding: 5px;
    margin: 10px 0;
    box-shadow: inset 2px 2px  1px rgba(0,0,0,.1);
    background-color: var(--greenish);
    color: var(--pine-tree);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    overflow: hidden;
}
.screen {
    max-width: 170px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 5px;
}
button {
    width: 35px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border: solid 1px transparent;
    transform: translateX(-2px) translateY(-2px);
    position: relative;
    box-shadow: 2px 2px #E2D7D2;
    background-color: var(--champagne-pink);
    color: var(--rosy-brown);
    font-family: inherit;
}
button:active, .button-active {
    transform: none;
    box-shadow: none;
}

.toggle input {
    width:0px;
    height: 0px;
    opacity: 0;
}

.toggle {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width:34px;
}

.slider {
    width:100%;
    height: 100%;
    background-color: var(--lighter-sienna);
    position: absolute;
    top:0;
    left:0;
    transition: .3s;
}
.slider::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top:2px;
    left:2px;
    transition: .3s;
}
.toggle input:checked + .slider {
    background-color: rgba(0,0,0,.3);
}
.toggle input:checked + .slider::before {
    transform: translateX(15px);
}
.mute {
    display: flex;
    justify-content: center;
    align-items: center;
}
.speaker {
    margin-right:2px;
    transition: .3s;
    display: inline-block;
    width:20px;
    margin-top: 2px;
    text-align: left;
}

button.operator-key {
    background-color: var(--operator-pink);
    box-shadow: 2px 2px #ddb7a5;
}
button.active-operator {
    background-color: var(--active-pink);
    box-shadow: 2px 2px #ddb7a5;
}

.too-long-popup {
    font-size: .7em;
    background-color: var(--champagne-pink);
    padding: 3px;
    box-shadow: 3px 3px rgba(0,0,0,.07);
    top:70px;
    right:10px;
    color:var(--rosy-brown);
    border-radius: 3px;
    display: none;
}

.show-popup {
    display: block;
}

.secondary-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.delete {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    border: solid 2px black;
}
.modal-bg {
    position: fixed;
    top:0;
    width: 0;
    background-color: rgba(0,0,0,.3);
    height: 100vh;
    width: 100vw;
}
.modal-inner {
    position: relative;
    z-index: 999999;
    background-color: var(--champagne-pink);
    margin: auto;
    max-width:450px;
    padding: 20px;
}
.socials {
    display: flex;
    justify-content: center;
}
.socials a {
    margin:20px;
}
.close {
    position: absolute;
    top:10px;
    right:20px;
    font-size: 2em;
    font-weight: 900;
    transition: ease .1s;
}
.close:hover, .fa-question-circle:hover {
    cursor: pointer;
    opacity: .8;
}
.close:active, .fa-question-circle:active {
    opacity: 1;
}
.modal-closed {
    display: none;
}